config/*.yaml
config/*.yml
config/*.json
*.env
.env.local
.env.*
secret/
keys/

/bin/
obj/
*.test
*.out
/vendor/
go.work
go.work.sum

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
.venv/
env/
.env/
Pipfile.lock

/var/log/
*.log
*.sql.gz
*.csv
*.dat
*.db
*.sqlite3
dump.rdb
appendonly.aof
*.ipc
*.sock

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
